In [1]:
import sqlite3

In [9]:
c=sqlite3.connect("hemu")

In [10]:
c.execute('drop table if exists abc')

In [11]:
c.execute("create table abc(id int,name text,score int)")

In [14]:
c.execute("insert into abc (id,name,score)values(1,'hemu',98)")
c.execute("insert into abc (id,name,score)values(2,'ram',99)")
c.execute("insert into abc (id,name,score)values(3,'kani',90)")
c.execute("insert into abc (id,name,score)values(4,'swathi',97)")
c.execute("insert into abc (id,name,score)values(5,'priya',96)")
c.execute("insert into abc (id,name,score)values(6,'moni',92)")
c.execute("insert into abc (id,name,score)values(7,'revz',97)")

In [15]:
c.commit()

In [16]:
list(c.execute("select * from abc"))

[(1, 'hemu', 98),
 (1, 'hemu', 98),
 (2, 'ram', 99),
 (3, 'kani', 90),
 (4, 'swathi', 97),
 (5, 'priya', 96),
 (6, 'moni', 92),
 (7, 'revz', 97)]

In [18]:
for i in c.execute("select * from abc"):
    print (i)

(1, 'hemu', 98)
(1, 'hemu', 98)
(2, 'ram', 99)
(3, 'kani', 90)
(4, 'swathi', 97)
(5, 'priya', 96)
(6, 'moni', 92)
(7, 'revz', 97)

In [19]:
for i in c.execute("select * from abc order by score"):
    print(i)

(3, 'kani', 90)
(6, 'moni', 92)
(5, 'priya', 96)
(4, 'swathi', 97)
(7, 'revz', 97)
(1, 'hemu', 98)
(1, 'hemu', 98)
(2, 'ram', 99)

In [25]:
for i in c.execute("select * from abc order by score desc"):
    print(i)

(2, 'ram', 99)
(1, 'hemu', 98)
(1, 'hemu', 98)
(4, 'swathi', 97)
(7, 'revz', 97)
(5, 'priya', 96)
(6, 'moni', 92)
(3, 'kani', 90)

In [28]:
for i in c.execute("select * from abc where name='hemu'"):
                   print(i)

(1, 'hemu', 98)
(1, 'hemu', 98)

In [32]:
import mysql.connector

In [30]:
!pip install mysql

Collecting mysql
  Using cached https://files.pythonhosted.org/packages/bf/5f/b574ac9f70811df0540e403309f349a8b9fa1a25d3653824c32e52cc1f28/mysql-0.0.2.tar.gz
Collecting mysqlclient (from mysql)
  Downloading https://files.pythonhosted.org/packages/5d/b3/a753b836eab49c865651eb2bc7203d070c58e5f22b33015b48fa6112bd7a/mysqlclient-1.4.6-cp37-cp37m-win_amd64.whl (262kB)
Building wheels for collected packages: mysql
  Building wheel for mysql (setup.py): started
  Building wheel for mysql (setup.py): finished with status 'done'
  Stored in directory: C:\Users\Lenovo\AppData\Local\pip\Cache\wheels\4f\10\3f\4930effd0320769375b5094e279cb0e4a4c10a7e5811b58f8a
Successfully built mysql
Installing collected packages: mysqlclient, mysql
Successfully installed mysql-0.0.2 mysqlclient-1.4.6

In [31]:
!pip install mysql-connector

Collecting mysql-connector
  Downloading https://files.pythonhosted.org/packages/28/04/e40098f3730e75bbe36a338926f566ea803550a34fb50535499f4fc4787a/mysql-connector-2.2.9.tar.gz (11.9MB)
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py): started
  Building wheel for mysql-connector (setup.py): finished with status 'done'
  Stored in directory: C:\Users\Lenovo\AppData\Local\pip\Cache\wheels\8c\83\a1\f8b6d4bb1bd6208bbde1608bbfa7557504bed9eaf2ecf8c175
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9